@import '../tokens.module.css';

.button {
  font-family: inherit;
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-size-md);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-text-inverse);

  transition: background var(--transition), color var(--transition);
  outline: none;
}
